<div class="content">
  <div class="ui vertical segment">
    <form class="ui form" {{action "search" on="submit"}}>
      <h4 class="dividing header">Search cards</h4>
      <div class="field">
        <div class="ui left icon input">
          {{input type="text" name="query" placeholder="Type card name here" value=queryInput key-up="search"}}
          <i class="search icon"></i>
        </div>
      </div>
    </form>
  </div>

  <div class="ten wide column">
    {{#if model}}
    <div class="ui main fluid vertical segment">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="center aligned">Mana cost</th>
            <th>Type</th>
            <th>Tags</th>
            <th class="cneter aligned">Set</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |card|}}
          <tr>
            <td class="collapsing">{{card.name}}</td>
            <td class="collapsing">{{mana card.manaCost 2}}</td>
            <td class="collapsing">{{card.type}}</td>
            <td>
              {{#if card.tags}}
              <div class="ui blue labels">
                {{#each card.tags as |tag|}}
                <div class="ui label">{{tag}}</div>
                {{/each}}
              </div>
              {{/if}}
            </td>
            <td class="collapsing">{{card.set}}</td>
            <td class="collapsing">
              <div class="ui primary button">
                View details
                <i class="angle double right icon"></i>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          {{#if pagination}}
          <tr>
            <th colspan="6">
              <div class="ui right floated pagination menu">
                {{#each pagination as |btn|}}
                  <a class="{{if btn.hasIcon 'icon' ''}} {{if btn.isActive 'active' ''}} item" {{action 'page' btn.page}}>{{btn.content}}</a>
                {{/each}}
              </div>
            </th>
          </tr>
          {{/if}}
        </tfoot>
      </table>
    </div>
    {{else}}
    <div class="ui main fluid vertical segment">
      <div class="ui blue message"> No results</div>
    </div>
    {{/if}}
  </div>
</div>